# Environment files
__pycache__/
.env
.env.local
.env.dev
.env.prod

# IDE and OS specific files
.idea/*
*.swp
*.swo
api/Lib/site-packages/**/*.py

# Coverage reports
htmlcov/
.coverage

# Build files
dist/
build/

# Virtual environment
.venv/
venv/
env/
.python-version

# Temporary test files
*.txt.sql
api
*.db

# Typescript
node_modules/